In [ ]:
import pandas as pd
df=pd.read_csv('/content/drive/MyDrive/Concepts of Technologies and AI/Titanic-Dataset.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
fare = df[['Fare']]
print(fare.head())

      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500

In [ ]:
class_age = df[['Pclass','Age']]
print(class_age.head())

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [ ]:
survived_gender = df[['Survived','Sex']]
print(survived_gender.head())

   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male

# Problem 2: Subsetting

## Subsetting Rows:

In [ ]:
fare_gt_100 = df[df['Fare'] > 100]
print(fare_gt_100.head())

first_class = df[df['Pclass'] == 1]
print(first_class.head())

female_under_18 = df[(df['Age'] > 18) & (df['Sex'] == 'female')]
print(female_under_18.head())

     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S
    PassengerId  Survived  Pclass  \
1             2         1       1
2             3         1       3
3             4         1       1
8             9         1       3
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                              Heikkinen, Miss. Laina  female  26.0      0
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch            Ticket     Fare Cabin Embarked
1       0          PC 17599  71.2833   C85        C
2       0  STON/O2. 3101282   7.9250   NaN        S
3       0            113803  53.1000  C123        S
8       2            347742  11.1333   NaN        S
11      0            113783  26.5500  C103        S

## Subsetting Rows by Categorical variables:

In [ ]:
embark_c_or_s = df[df['Embarked'].isin(["C","S"])]
print(embark_c_or_s.head())

first_second_class = df[df['Pclass'].isin([1,2])]
print(first_second_class.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

# Exercise 1:

In [ ]:
df['fare_per_year'] = df['Fare'] / df['Age']
print(df.head())

high_fare_age = df[df['fare_per_year'] > 5]
print(high_fare_age)

high_fare_age_srt = high_fare_age.sort_values(by='fare_per_year', ascending=False)
print(high_fare_age_srt)

result = high_fare_age_srt[['Name', 'fare_per_year']]
print(result)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  fare_per_year  \
0      0         A/5 21171   7.2500   NaN        S       0.329545
1      0          PC 17599  71.2833   C85        C       1.875876
2      0  STON/O2. 3101282   7.9250   NaN        S       0.304808
3      0            113803  53.1000  C123        S       1.517143
4      0            373450   8.0500   NaN        S       0.230000

   fare_per_class age_group
0        2.416667     Adult
1       71.283300     Adult
2        2.641667     Adult
3       53.100000     Adult
4        2.683333     Adult
     PassengerId  Survived  Pclass                                      Name  \
7              8         0       3            Palsson, Master. Gosta Leonard
16            17         0       3                      Rice, Master. Eugene
27            28         0       1            Fortune, Mr. Charles Alexander
43            44         1       2  Laroche, Miss. Simonne Marie Anne Andree
50            51         0       3                Panula, Master. Juha Niilo
..           ...       ...     ...                                       ...
813          814         0       3        Andersson, Miss. Ebba Iris Alfrida
824          825         0       3              Panula, Master. Urho Abraham
827          828         1       2                     Mallet, Master. Andre
831          832         1       2           Richards, Master. George Sibley
850          851         0       3   Andersson, Master. Sigvard Harald Elias

        Sex    Age  SibSp  Parch           Ticket      Fare        Cabin  \
7      male   2.00      3      1           349909   21.0750          NaN
16     male   2.00      4      1           382652   29.1250          NaN
27     male  19.00      3      2            19950  263.0000  C23 C25 C27
43   female   3.00      1      2    SC/Paris 2123   41.5792          NaN
50     male   7.00      4      1          3101295   39.6875          NaN
..      ...    ...    ...    ...              ...       ...          ...
813  female   6.00      4      2           347082   31.2750          NaN
824    male   2.00      4      1          3101295   39.6875          NaN
827    male   1.00      0      2  S.C./PARIS 2079   37.0042          NaN
831    male   0.83      1      1            29106   18.7500          NaN
850    male   4.00      4      2           347082   31.2750          NaN

    Embarked  fare_per_year  fare_per_class age_group
7          S      10.537500        7.025000     Child
16         Q      14.562500        9.708333     Child
27         S      13.842105      263.000000     Adult
43         C      13.859733       20.789600     Child
50         S       5.669643       13.229167     Child
..       ...            ...             ...       ...
813        S       5.212500       10.425000     Child
824        S      19.843750       13.229167     Child
827        C      37.004200       18.502100     Child
831        S      22.590361        9.375000     Child
850        S       7.818750       10.425000     Child

[68 rows x 15 columns]
     PassengerId  Survived  Pclass                                    Name  \
305          306         1       1          Allison, Master. Hudson Trevor
297          298         0       1            Allison, Miss. Helen Loraine
386          387         0       3         Goodwin, Master. Sidney Leonard
164          165         0       3            Panula, Master. Eino Viljami
183          184         1       2               Becker, Master. Richard F
..           ...       ...     ...                                     ...
318          319         1       1                Wick, Miss. Mary Natalie
348          349         1       3  Coutts, Master. William Loch "William"
205          206         0       3              Strom, Miss. Telma Matilda
813          814         0       3      Andersson, Miss. Ebba Iris Alfrida
480          481         0       3          Goodwin, Master. Harold Victor

        Sex    Age  SibSp  Parch      Ticket      Fare    Cabin Embarked  \
305    male   0.92      1      2      113781  151.5500  C22 C26        S
297  female   2.00      1      2      113781  151.5500  C22 C26        S
386    male   1.00      5      2     CA 2144   46.9000      NaN        S
164    male   1.00      4      1     3101295   39.6875      NaN        S
183    male   1.00      2      1      230136   39.0000       F4        S
..      ...    ...    ...    ...         ...       ...      ...      ...
318  female  31.00      0      2       36928  164.8667       C7        S
348    male   3.00      1      1  C.A. 37671   15.9000      NaN        S
205  female   2.00      0      1      347054   10.4625       G6        S
813  female   6.00      4      2      347082   31.2750      NaN        S
480    male   9.00      5      2     CA 2144   46.9000      NaN        S

     fare_per_year  fare_per_class age_group
305     164.728261      151.550000     Child
297      75.775000      151.550000     Child
386      46.900000       15.633333     Child
164      39.687500       13.229167     Child
183      39.000000       19.500000     Child
..             ...             ...       ...
318       5.318281      164.866700     Adult
348       5.300000        5.300000     Child
205       5.231250        3.487500     Child
813       5.212500       10.425000     Child
480       5.211111       15.633333     Child

[68 rows x 15 columns]
                                       Name  fare_per_year
305          Allison, Master. Hudson Trevor     164.728261
297            Allison, Miss. Helen Loraine      75.775000
386         Goodwin, Master. Sidney Leonard      46.900000
164            Panula, Master. Eino Viljami      39.687500
183               Becker, Master. Richard F      39.000000
..                                      ...            ...
318                Wick, Miss. Mary Natalie       5.318281
348  Coutts, Master. William Loch "William"       5.300000
205              Strom, Miss. Telma Matilda       5.231250
813      Andersson, Miss. Ebba Iris Alfrida       5.212500
480          Goodwin, Master. Harold Victor       5.211111

[68 rows x 2 columns]

In [ ]:
df['fare_per_class'] = df['Fare'] / df['Pclass']
print(df.head())

adult_males = df[(df['Age']>=18) & (df['Sex'] == "male")]
print(adult_males)

adult_males_srt = adult_males.sort_values(by='fare_per_class', ascending=False)
print(adult_males_srt)

result = adult_males_srt[['Name', 'fare_per_class']]
print(result)

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  fare_per_class
0      0         A/5 21171   7.2500   NaN        S        2.416667
1      0          PC 17599  71.2833   C85        C       71.283300
2      0  STON/O2. 3101282   7.9250   NaN        S        2.641667
3      0            113803  53.1000  C123        S       53.100000
4      0            373450   8.0500   NaN        S        2.683333
     PassengerId  Survived  Pclass                            Name   Sex  \
0              1         0       3         Braund, Mr. Owen Harris  male
4              5         0       3        Allen, Mr. William Henry  male
6              7         0       1         McCarthy, Mr. Timothy J  male
12            13         0       3  Saundercock, Mr. William Henry  male
13            14         0       3     Andersson, Mr. Anders Johan  male
..           ...       ...     ...                             ...   ...
883          884         0       2   Banfield, Mr. Frederick James  male
884          885         0       3          Sutehall, Mr. Henry Jr  male
886          887         0       2           Montvila, Rev. Juozas  male
889          890         1       1           Behr, Mr. Karl Howell  male
890          891         0       3             Dooley, Mr. Patrick  male

      Age  SibSp  Parch            Ticket     Fare Cabin Embarked  \
0    22.0      1      0         A/5 21171   7.2500   NaN        S
4    35.0      0      0            373450   8.0500   NaN        S
6    54.0      0      0             17463  51.8625   E46        S
12   20.0      0      0         A/5. 2151   8.0500   NaN        S
13   39.0      1      5            347082  31.2750   NaN        S
..    ...    ...    ...               ...      ...   ...      ...
883  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
886  27.0      0      0            211536  13.0000   NaN        S
889  26.0      0      0            111369  30.0000  C148        C
890  32.0      0      0            370376   7.7500   NaN        Q

     fare_per_class
0          2.416667
4          2.683333
6         51.862500
12         2.683333
13        10.425000
..              ...
883        5.250000
884        2.350000
886        6.500000
889       30.000000
890        2.583333

[395 rows x 13 columns]
     PassengerId  Survived  Pclass                                Name   Sex  \
737          738         1       1              Lesurer, Mr. Gustave J  male
679          680         1       1  Cardeza, Mr. Thomas Drake Martinez  male
27            28         0       1      Fortune, Mr. Charles Alexander  male
438          439         0       1                   Fortune, Mr. Mark  male
118          119         0       1            Baxter, Mr. Quigg Edmond  male
..           ...       ...     ...                                 ...   ...
271          272         1       3        Tornquist, Mr. William Henry  male
179          180         0       3                 Leonard, Mr. Lionel  male
302          303         0       3     Johnson, Mr. William Cahoone Jr  male
822          823         0       1     Reuchlin, Jonkheer. John George  male
806          807         0       1              Andrews, Mr. Thomas Jr  male

      Age  SibSp  Parch    Ticket      Fare        Cabin Embarked  \
737  35.0      0      0  PC 17755  512.3292         B101        C
679  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
27   19.0      3      2     19950  263.0000  C23 C25 C27        S
438  64.0      1      4     19950  263.0000  C23 C25 C27        S
118  24.0      0      1  PC 17558  247.5208      B58 B60        C
..    ...    ...    ...       ...       ...          ...      ...
271  25.0      0      0      LINE    0.0000          NaN        S
179  36.0      0      0      LINE    0.0000          NaN        S
302  19.0      0      0      LINE    0.0000          NaN        S
822  38.0      0      0     19972    0.0000          NaN        S
806  39.0      0      0    112050    0.0000          A36        S

     fare_per_class
737        512.3292
679        512.3292
27         263.0000
438        263.0000
118        247.5208
..              ...
271          0.0000
179          0.0000
302          0.0000
822          0.0000
806          0.0000

[395 rows x 13 columns]
                                   Name  fare_per_class
737              Lesurer, Mr. Gustave J        512.3292
679  Cardeza, Mr. Thomas Drake Martinez        512.3292
27       Fortune, Mr. Charles Alexander        263.0000
438                   Fortune, Mr. Mark        263.0000
118            Baxter, Mr. Quigg Edmond        247.5208
..                                  ...             ...
271        Tornquist, Mr. William Henry          0.0000
179                 Leonard, Mr. Lionel          0.0000
302     Johnson, Mr. William Cahoone Jr          0.0000
822     Reuchlin, Jonkheer. John George          0.0000
806              Andrews, Mr. Thomas Jr          0.0000

[395 rows x 2 columns]

# Exploratory Data Analysis with Group-by Method Practice Exercise:

## What percent of the total fare revenue came from each passenger class?

In [ ]:
total = df.groupby('Pclass')['Fare'].sum()
print("Total fare by class: ",total)

total_fare_Pclass_1 = df.groupby('Pclass').get_group(1)['Fare'].sum()
print("Total fare by class 1: ",total_fare_Pclass_1)

total_fare_Pclass_2 = df.groupby('Pclass').get_group(2)['Fare'].sum()
print("Total fare by class 2: ",total_fare_Pclass_2)

total_fare_Pclass_3 = df.groupby('Pclass').get_group(3)['Fare'].sum()
print("Total fare by class 3: ",total_fare_Pclass_3)

fare_totals = sum([total_fare_Pclass_1,total_fare_Pclass_2,total_fare_Pclass_3])
print("Total fare: ",fare_totals)

proportion_fare_Pclass_1 = total_fare_Pclass_1 / fare_totals
print("Proportion of fare by class 1: ",proportion_fare_Pclass_1)

proportion_fare_Pclass_2 = total_fare_Pclass_1 / fare_totals
print("Proportion of fare by class 2: ",proportion_fare_Pclass_2)

proportion_fare_Pclass_3 = total_fare_Pclass_1 / fare_totals
print("Proportion of fare by class 3: ",proportion_fare_Pclass_3)

Total fare by class:  Pclass
1    18177.4125
2     3801.8417
3     6714.6951
Name: Fare, dtype: float64
Total fare by class 1:  18177.4125
Total fare by class 2:  3801.8417
Total fare by class 3:  6714.6951
Total fare:  28693.9493
Proportion of fare by class 1:  0.6334928771899656
Proportion of fare by class 2:  0.6334928771899656
Proportion of fare by class 3:  0.6334928771899656

## What percent of the total number of passengers on the Titanic belonged to each age group(e.g., child, adult, senior)?

In [ ]:
def categorize_age(age):
  if pd.isna(age):
    return "Unknown"
  elif age < 18:
    return "Child"
  elif age < 65:
    return "Adult"
  else:
    return "Senoir"

df['age_group'] = df['Age'].apply(categorize_age)

total_passanger = len(df)

no_of_passanger_in_each_age_group = df.groupby('age_group')['Name'].count()
print(no_of_passanger_in_each_age_group)

age_group_proportion = (no_of_passanger_in_each_age_group / total_passanger)*100
print(age_group_proportion)

age_group
Adult      590
Child      113
Senoir      11
Unknown    177
Name: Name, dtype: int64
age_group
Adult      66.217733
Child      12.682379
Senoir      1.234568
Unknown    19.865320
Name: Name, dtype: float64